<div class="atm-extra">
    <div class="atm-grid">
        <div class="row row-1">
            <div>
                <img src="/images/atm-icon.svg" alt="ATM icon 1" loading="lazy">
                <p>Get fewer chargebacks and communication errors</p>
            </div>
            <div>
                <img src="/images/mobile-paymentsicon.svg" alt="ATM icon 2" loading="lazy">
                <p>Enjoy superb wireless processing and excellent uptimes</p>
            </div>
        </div>
        <div class="row row-2">
            <div>
                <img src="/images/payment-solutions-icon.svg" alt="ATM icon 3" loading="lazy">
                <p>See how customers are using your machines with online reporting and terminal management</p>
            </div>
            <div>
                <img src="/images/atm.svg" alt="ATM icon 4" loading="lazy">
                <p>Have a direct connection to US ATM networks, which means no gateway fees</p>
            </div>
        </div>
    </div>
</div>