<footer id="footer" class="main style3" style="border-radius: 8px 8px 0 0;">
    <div class="inner">
        <div id="insert_logo" class="first logo">
            <img src="/images/footer-logo.webp" alt="Secure Pay Service Logo" loading="lazy">
        </div>
        <div class="second">
            <h4>Menu</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/atm-services">ATM Services</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/unfairratehike">Unfair Rate Hike</a></li>
            </ul>
        </div>
        <div class="third">
            <div>
                <h4>Get in touch</h4>
                <p>
                    <b>Headquarters:</b><br>
                    Town Center One<br>
                    8950 SW 74 CT,<br>
                    Suite 2201<br>
                    Miami, FL 33156
                </p>
                <p><b>Phone:</b> <a href="tel:+1-305-307-8530">+1 (305) 307-8530</a></p>
                <p><b>Email:</b> <a href="mailto:info@securepayservice.com">info@securepayservice.com</a></p>
            </div>
        </div>
    </div>
    
    <div class="inner small">
        Copyright &copy; <span class="current-year-js"></span> Secure Pay Services. All rights reserved.<br>
        Secure Pay Service, LLC., is a registered ISO in association with Fifth Third Bank, Cincinnati, OH
        <div style="height:0;overflow:hidden;">Designed and developed by <a href="https://www.speedy-sites.com">Speedy Sites, LLC</a></div>
    </div>

    
</footer>