<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="preload" href="assets/css/main.css" as="style" />

<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="icon" type="image/x-icon" href="/images/favicon.png">
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet"> -->

<script>
    (function(w){
        var k="nudgify",n=w[k]||(w[k]={});
        n.uuid="1b3e95f0-38ee-41c7-a207-75ee2caf6a1b";
        var d=document,s=d.createElement("script");
        s.src="https://pixel.nudgify.com/pixel.js";
        s.async=1;
        s.charset="utf-8";
        d.getElementsByTagName("head")[0].appendChild(s)
    })(window)
</script>