<header id="header">

    <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="images/Big Logo.webp" alt=""></a>
        </div>

    <!-- Nav -->
        <nav id="nav">
            <ul id="root">
                <li class="root-level"><a href="/">Home</a></li>
                <li class="root-level"><a href="about">About</a></li>

                <li class="root-level">
                    <a href="services" class="icon solid fa-angle-down">Services</a>
                    <ul>
                        <li><a href="payment-solutions">Payment Solutions</a></li>
                        <li><a href="retail-processing">Retail Processing</a></li>
                        <li><a href="mail-order">Mail Order / Telephone Order</a></li>
                        <li><a href="restaurants">Restautants</a></li>
                        <li><a href="mobile-payments">Mobile Payments</a></li>
                        <li><a href="virtual-terminal">Virtual Terminal Online POS</a></li>
                        <li><a href="free-credit-card-terminal">Free Credit Card Terminal</a></li>
                        <li>
                            <a href="atm-services">ATM Services</a>
                            <ul>
                                <li><a href="atm-placements">ATM Placements</a></li>
                                <li><a href="atm-owners">ATM Owners</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="root-level"><a href="https://securepayservicestore.com/">Store</a></li>
                <li class="root-level"><a href="careers">Careers</a></li>
                <li class="root-level"><a href="contact-us">Contact Us</a></li>
                <li class="root-level"><a href="https://www.accessmyiq.com/">Login</a></li>
            </ul>
        </nav>

</header>

<script>
    var rawPagePath = '{{ page.path }}';
    var splitPath = rawPagePath.split('.');
    var pagePath = splitPath[0];
    if (pagePath == 'index') {pagePath = '/'}
    var currentLink = 'a[href="' + pagePath + '"]'

    document.querySelector(currentLink).closest('.root-level').classList.add('current')
</script>