<header id="header">

    <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="images/Big Logo.webp" alt=""></a>
        </div>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="info">About</a></li>
                <li>
                    <a href="services" class="icon solid fa-angle-down">Services</a>
                    <ul>
                        <li><a href="payment-solutions">Payment Solutions</a></li>
                        <li><a href="retail-processing">Retail Processing</a></li>
                        <li><a href="mail-order">Mail Order / Telephone Order</a></li>
                        <li><a href="restaurants">Restautants</a></li>
                        <li><a href="mobile-payments">Mobile Payments</a></li>
                        <li><a href="virtual-terminal">Virtual Terminal Online POS</a></li>
                        <li><a href="free-credit-card-terminal">Free Credit Card Terminal</a></li>
                    </ul>
                </li>
                <li>
                    <a href="atm-services" class="icon solid fa-angle-down">ATM Services</a>
                    <ul>
                        <li><a href="atm-placements">ATM Placements</a></li>
                        <li><a href="atm-owners">ATM Owners</a></li>
                    </ul>
                </li>
                <li><a href="https://securepayservicestore.com/">Store</a></li>
                <li><a href="careers">Careers</a></li>
                <li><a href="contact-us">Contact Us</a></li>
                <li><a href="https://www.accessmyiq.com/">Login</a></li>
            </ul>
        </nav>

</header>