
<div class="inner flex" style="flex-direction: column;">
    <h2 style="text-align: center">Our Pricing</h2>
    <!-- <img  src="/images/pricing_table.webp" alt=""> -->
    <table style="margin: 0 auto 2rem auto;width: 100%;max-width:540px">
        <thead>
            <tr>
                <th>Processors</th>
                <th>Retail Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Square</td>
                <td>3.5% + $0.20</td>
            </tr>
            <tr>
                <td>Chase</td>
                <td>3% + $0.20</td>
            </tr>
            <tr>
                <td>Wells Fargo</td>
                <td>3.2% + $0.20</td>
            </tr>
            <tr>
                <td>Stripe</td>
                <td>3.5% + $0.20</td>
            </tr>
            <tr>
                <td>Paypal</td>
                <td>2.99% + $0.48</td>
            </tr>
            <tr>
                <td style="color:#F5841F">Secure Pay Service</td>
                <td class="circled">2.2% + $0.20</td>
            </tr>
        </tbody>
    </table>
</div>