
<div class="features">
    <a href="/payment-solutions">
        <span class="icon solid fa-credit-card major accent2"></span>
        <h3>Payment Solutions</h3>
        <p>The less complexity for you, the better the payment processing solution is for your business.</p>
    </a>
    <a href="/retail-processing">
        <span class="icon solid fa-calculator major accent3"></span>
        <h3>Retail Processing</h3>
        <p>Your one-stop shop for all your retail merchant account needs.</p>
    </a>
    <a href="/mail-order">
        <span class="icon solid fa-phone major accent4"></span>
        <h3>Mail Order / Telephone Order</h3>
        <p>Making Telephone Transactions Easy For Merchants.</p>
    </a>
    <a href="/restaurants">
        <span class="icon solid fa-utensils major accent4"></span>
        <h3>Restaurants</h3>
        <p>Set your restaurant up for success with a custom-designed payment solution.</p>
    </a>
    <a href="/mobile-payments">
        <span class="icon fa-comment-dots major accent2"></span>
        <h3>Mobile Payments</h3>
        <p>Mobile credit card processing is an easy, fast and safe payment processing solution for merchants on-the-go.</p>
    </a>
    <a href="/virtual-terminal">
        <span class="icon fa-credit-card major accent3"></span>
        <h3>Virtual Terminal Online POS</h3>
        <p>Accept payments, virtually everywhere. Smarter, faster, easier payments are on-the-go. </p>
    </a>
    <a href="/free-credit-card-terminal">
        <span class="icon solid fa-cash-register major accent3"></span>
        <h3>Free Credit Card Terminal</h3>
        <p>Contact us for a Free Credit Card Terminal Placement at your business.</p>
    </a>
    <a href="/atm-placements">
        <span class="icon fa-gem major accent3"></span>
        <h3>ATM Services</h3>
        <p>Turnkey Solutions for ATM Placement Programs for all types of  Retail Locations</p>
    </a>
    <a href="/tech-support-subscription">
        <span class="icon solid fa-headset major accent3"></span>
        <h3>Tech Support Subscription</h3>
        <p>ATMs are a powerful way to offer a more passive income to locations in your portfolio.</p>
    </a>
</div>