<div class="inner side-by-side">
    <div>
        <h2>What you need to know</h2>
        <ul>
            <li>Identify where the excess fees are hiding</li>
            <li>Determine the risks and pitfalls of going out to bid for your credit card processing business</li>
            <li>Recognize the proper approach to managing an efficient merchant account</li>
        </ul>
    </div>
    <div>
        <h2>A partner on your side</h2>
        <ul>
            <li>We negotiate with the processors on your behalf to reduce your&nbsp; rates and eliminate hidden fees.</li>
            <li>We regularly monitor your statements to watch for rising rates&nbsp; &nbsp; and additional fees.</li>
        </ul>
    </div>
</div>