
/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 0.8rem 0 0;

			&:last-child {
				padding-right: 0;
			}

			.icon {
				&:before {
					font-size: 1.5rem;
				}
			}
		}

		@include breakpoint('<=small') {
			li {
				padding: 0 0.75rem 0 0;

				.icon {
					&:before {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	.about-content {
		.icon-row {
			display: flex;
			justify-content: space-around;
			margin-bottom: 3rem;
			
			.section {
				display: flex;
				flex-direction: column;
				text-align: center;
				align-items: center;

				.icon {
					
					max-height: 128px;
					max-width: 128px;
					display: flex;
					flex-direction: column;
	
					img {
						height: 100%;
					}
				}

				h4 {
					margin-top: 1rem;
				}
			}
		}
	}