
/* Posts */

	.posts {
		width: 100%;
		margin: 0 0 _size(element-margin) 0;

		article {
			.image {
				display: block;
				width: 100%;
				margin: 0 0 _size(element-margin) 0;
				height: 230px;
				border-radius: 8px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.date {
					position: absolute;
					left: 0;
					padding: 0.45rem;
					z-index: 10;
					background-color: rgba(255,255,255,0.6);
					border-radius: 0 0 8px 0;
				}
			}

			> :last-child {
				margin-bottom: 0;
			}
		}

		@include fixed-grid((
			columns:			3,
			gutters:			3rem,
			horizontal-align:	center,
			flush:				true
		));

		@include breakpoint('<=medium') {
			@include vendor('justify-content', 'center');

			@include fixed-grid-resize((
				columns:		2,
				gutters:		3rem,
				flush:			true,
				prev-columns:	3
			));

			article:nth-child(3n):last-child {
				padding-right: 0;
			}
		}

		@include breakpoint('<=small') {
			@include fixed-grid-resize((
				columns:		2,
				gutters:		2rem,
				flush:			true,
				prev-columns:	(3, 2)
			));
		}

		@include breakpoint('<=xsmall') {
			@include fixed-grid-resize((
				columns:		1,
				gutters:		3rem,
				flush:			true,
				prev-columns:	(3, 2)
			));
		}

		@include breakpoint('<=xsmall') {
			article {
				.image {
					max-width: 100%;
				}
			}
		}
	}

	.blog-post-info {
		margin-top: 7rem;
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-bottom: 1rem;

		p {
			text-align: right;
			margin-bottom: 0
		}

		img {
			height: 50px;
		}
	}