
/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		text-align: center;
		table-layout: fixed;
		font-size: 17px!important;

		tr {
			transition: all 0.15s;

			
			
			th, td {
				font-weight: bold;
				padding: 0.5rem 0.5rem;
				font-size: 17px!important;

				&:last-child {
					border-left: 0;
				}
			}

			th {
				color: #fff;
				background-color:  #{_palette(highlight)};
				border: 2px solid #{_palette(highlight)};
			}

			td {
				color: #{_palette(fg)};

				&:first-child {
					border: solid 2px lighten(_palette(border-table), 30);
				}

				&.circled {
					position: relative;

					&:before {
						content: '';
						background-image: url('/images/circle.png');
						height: 70px;
						width: 100%;
						position: absolute;
						background-repeat: no-repeat;
						top: -8px;
						margin-left: -11px;
					}
				}
			}

			&:hover {
				background-color: lighten(desaturate(_palette(bg-shadow), 50), 80);
			}
		}

		tbody {
			tr {
				border: solid 2px;
				// border-left: 0;
				// border-right: 0;
			}
		}

		td {

		}

		th {
			// font-size: 0.9rem;
			font-weight: _font(weight-bold);
			// text-align: left;
		}

		thead {
			// border-bottom: solid 2px;
			border: 0
		}

		tfoot {
			border-top: solid 2px;
		}

		&.alt {

			tbody {
				tr {
					td {
						border: solid 2px;
						border-left-width: 0;
						border-top-width: 0;

						&:first-child {
							border-left-width: 2px;
						}
					}

					&:first-child {
						td {
							border-top-width: 2px;
						}
					}
				}
			}

			thead {
				border-bottom: 0;
			}

			tfoot {
				border-top: 0;
			}
		}
	}

	@mixin color-table($p: null) {
		table {
			tbody {
				tr {
					border-color: lighten(_palette(border-table), 30);

					&:nth-child(2n + 1) {
						// background-color: _palette($p, border-bg);
					}
				}
			}

			th {
				color: _palette($p, fg-bold);
			}

			thead {
				border-bottom-color: none;
			}

			tfoot {
				border-top-color: _lighten(_palette(border-table), 25);
			}

			&.alt {
				tbody {
					tr {
						td {
							border-color: lighten(_palette(border-table), 25);
						}
					}
				}
			}
		}
	}

	@include color-table;

	@include breakpoint('<=medium') {
		table {
			tr {
				td {
					color: #{_palette(fg)};
	
					&:first-child {
						border: solid 2px lighten(_palette(border-table), 30);
					}
	
					&.circled {
						position: relative;
	
						&:before {
							content: '';
							background-image: url('/images/circle.png');
							height: 56px;
							width: 121px;
							position: absolute;
							background-size:cover;
							top: -8px;
							margin-left: -11px;
						}
					}
				}
			}
		}
	}