<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }} | Secure Pay Service</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://apps.elfsight.com/p/platform.js" defer></script>
		<style>.eapps-widget > div > div > a {
			display:none!important;
		}</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
			{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Section -->
					<section class="main style1">
						<header class="small">
							<h1>{{ page.title }}</h1>
							<p>{{ page.subtitle }}</p>
						</header>
						<div class="image filtered" data-position="center" style="height: unset;">
							<img src="{{ page.imageURL }}" alt="{{ page.imageAltText }}" />
							<div class="content">
								<div class="founder" style="background-image:url(../images/pic01.jpg);" alt=""></div>
								<p>Secure Pay Service was founded in 2019 by Freddie Castro Jr. with 20 years experience in the merchant & ATM industry.<br> <br> We strive to create a more intimate and personal venue in Merchant Services along with ATM Processing.</p>
							</div>
						</div>
						<div class="inner no-border about-content">
							<div class="image-content-right">
								<div>
									<h3>Who are we?</h3>
									<p>Secure Pay Services is a merchant and ATM provider. Delivering premium service, Secure Pay Services understands that business is personal. Priding itself on the ability to provide tailor-made payment processing solutions for even the most unique merchant accounts.</p>
								</div>
								<img src="../images/Big Logo Shield NEW.webp" alt="">
							</div>

							<hr>

							<h3>What do we do?</h3>
							<div class="icon-row">
								<div class="icon">
									<img src="../images/atm-icon.svg" alt="">
								</div>
								<div class="icon">
									<img src="../images/atm-icon.svg" alt="">
								</div>
								<div class="icon">
									<img src="../images/atm-icon.svg" alt="">
								</div>
							</div>

							<hr>
							<h3>Who do we serve?</h3>
							<hr>
						</div>
					</section>

					<section class="main style1">
						<div class="inner">
							<h3 style="margin:0;text-align:center;">What our customers say</h3>
							<div class="elfsight-app-99f2a88f-7abc-4f9c-9a50-8afef7f5d966"></div>
						</div>
					</section>

				<!-- Section -->
					<section class="main style2">
						<header class="small">
							<h2>Get in touch</h2>
							<p>Elit dignissim nullam sagittis faucibus dui. Morbi vel nibh mauris. Sed convallis, odio ac posuere bibendum, odio elit bibendum magna, eu tempor diam nulla nec felis. Cras convallis tellus ac justo.</p>
						</header>
						<div class="inner special medium">
							<form action="#" method="post">
								<div class="fields">
									<div class="field half">
										<input name="name" id="name" placeholder="Name" type="text" />
									</div>
									<div class="field half">
										<input name="email" id="email" placeholder="Email" type="email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" rows="8" placeholder="Message"></textarea>
									</div>
								</div>
								<ul class="actions special">
									<li><input value="Send Message" class="button next" type="submit" /></li>
								</ul>
							</form>

						</div>
						<footer>
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon solid alt fa-phone"><span class="label">Phone</span></a></li>
								<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</footer>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				Copyright &copy; Untitled. All rights reserved.
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>