<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }} | Secure Pay Service</title>
		{% include head.html %}
	</head>
	<body class="is-preload">

		<!-- Header -->
			{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper" class="service-page {{ page.wrapperClass }}">

				<!-- Section -->
					<section class="main style1">
						<header class="medium">
							<div class="title">
								<h1>Blog & News</h1>
							</div>
						</header>
					</section>

					<section class="main style1">
						<div class="inner">
							<ul>
								{% for post in site.posts %}
								  <li>
									<a href="{{ post.url }}">{{ post.title }}</a>
								  </li>
								{% endfor %}
							  </ul>
						</div>
					</section>

				{% include contact-form.html %}
					<!-- Footer -->
					{% include footer.html %}

			</div>

		<!-- Scripts -->
			{% include scripts.html %}

	</body>
</html>