<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }} | Secure Pay Service</title>
		{% include head.html %}
	</head>
	<body class="is-preload">

		<!-- Header -->
			{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Section -->
					<section class="main style1">
						<header class="small" style="width: unset;">
							<h1>Let's get in touch</h1>
							<div class="contact-info">
								<p>Address: <br>
									8950 SW 79th Court Suite: 2201<br>
									Miami, FL 33156</p>
								<p>Phone<br>
									Office: 305.307-8530<br>
									Fax: 305-307-8531</p>
								<p>Email<br>
									<a href="mailto:info@securepayservice.com">info@securepayservice.com</a></p>
							</div>
						</header>
					</section>

					{% include contact-form.html %}
					<!-- Footer -->
					{% include footer.html %}

			</div>

		<!-- Scripts -->
			{% include scripts.html %}

	</body>
</html>