<!DOCTYPE HTML>

<html>
	<head>
		<title>Secure Pay Service</title>
		{% include head.html %}
		<style>.eapps-widget > div > div > a {
			display:none!important;
		}</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
		{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section class="banner" style="border-radius: 0 0 8px 8px;">
						<div class="image" data-position="right">
							<!-- <img src="images/banner.jpg" alt="" /> -->
						</div>
						<div class="content">
							<div style="text-align: left;">
								<h1 class="splash">Keep more of your money.</h1>
								<p>Stop getting ripped off by Square, Paypal, Stripe, etc. Unlock a banking relationship that will make your business thrive.</p>
								<ul class="actions">
									<li><a href="services" class="button next">Tell me more</a></li>
								</ul>
							</div>
							<div id="insert_banner_chick">
								
								
							</div>
						</div>
					</section>

					<section class="main style1 partners">
						<div class="inner">
							<h2>Some of our Partners</h2>
							<div class="logo-row flex">
								<img src="/images/checked.svg" alt="">
								<img src="/images/checked.svg" alt="">
								<img src="/images/checked.svg" alt="">
								<img src="/images/checked.svg" alt="">
								<img src="/images/checked.svg" alt="">
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="main style1">
						<h2 class="features-title">Our Services</h2>
						{% include services-grid.html %}
						<footer>
							<ul class="actions special">
								<li><a href="services" class="button next">See more</a></li>
							</ul>
						</footer>
					</section>

				<!-- Reviews -->
					<section class="main style1 reviews">
						<div class="inner">
							<h2 style="margin:0;text-align:center;">What our customers say</h2>
							<div id="widgetContainer"></div>
						</div>
					</section>

				<!-- Section -->
					<section class="main style1">
						<header class="small" style="padding:0;">
							<h2 style="padding:0;margin-top:3rem">Blog & News</h2>
						</header>
						<div class="inner">
							<div class="posts">

								
							</div>
						</div>
					</section>

					

				{% include contact-form.html %}



				<!-- Footer -->
				{% include footer.html %}
					

			</div>

		<!-- Scripts -->
			{% include scripts.html %}
			<!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script> -->
			<script>
				function inViewport(element){
				const bb = element.getBoundingClientRect();
				return !(bb.top > innerHeight || bb.bottom < 0);
				}
				
				let widgetVisible = false;
				const widgetContainer = document.querySelector('#widgetContainer');
				
				document.addEventListener('scroll', event => {
				if (inViewport( widgetContainer ) && !widgetVisible){
				widgetVisible = true;
				const widget = document.createElement('div');
				widget.className = "elfsight-app-99f2a88f-7abc-4f9c-9a50-8afef7f5d966";
				widgetContainer.append(widget);
				}
				});
				// setTimeout(function(){ document.getElementById("insert_banner_chick").innerHTML = '<img src="../images/banner_chick.webp" alt="">' }, 1);
				setTimeout(function(){ document.querySelector(".posts").innerHTML = '{% include posts.html %}' }, 2000);

			</script>

	</body>
</html>