<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }} | Secure Pay Service</title>
		{% include head.html %}
	</head>
	<body class="is-preload">

		<!-- Header -->
			{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Section -->
					<section class="main style1">
						<header class="small">
							<h1>{{ page.title }}</h1>
							<p>{{ page.subtitle }}</p>
						</header>
						<div class="image filtered" data-position="center">
							<img src="{{ page.imageURL }}" alt="{{ page.imageAltText }}" />
						</div>
						<div class="inner">
							<h2>Flexible and Easy Payment<br> Processing Features</h2>
							<p style="max-width: 600px">Payment processing should be painless for businesses as well as the customers they serve.. You want to focus on running your business, not on the logistics of taking credit card payments. Simpler checkouts, fewer errors—these are the things that makes a payments solution shine.</p>
						</div>
						{% include services-grid.html %}
					</section>

				<!-- Section -->
					<section class="main style1" >
						<div class="inner">
							<div class="image-vertical-left">
								<img src="../images/payment.webp" alt="People exchanging a credit card">
								<div class="content">
									<h3>Credit card payment processing for any kind of commerce</h3>
									<dl>
										<dt>Connect from anywhere</dt>
										<dd>In-store, online, and on the go—you can accept payments wherever your customers are shopping.</dd>
										
										<dt>Connect to any payments</dt>
										<dd>Credit, debit, gift, and stored value cards. Plus mobile wallets and EMV chip cards.</dd>
										
										<dt>Connect through any device</dt>
										<dd>Smart terminals, wireless terminals, integrated point-of-sale (POS) systems, mobile devices and virtual terminals.</dd>
									</dl>
									
								</div>
							</div>
						</div>
					</section>

				{% include contact-form.html %}
					<!-- Footer -->
					{% include footer.html %}

			</div>

		<!-- Scripts -->
			{% include scripts.html %}

	</body>
</html>