<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }} | Secure Pay Service</title>
		{% include head.html %}
	</head>
	<body class="is-preload">

		<!-- Header -->
			{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Section -->
					<section class="main style1">
						<header class="small">
							<h1>{{ page.title }}</h1>
							<p>{{ page.subtitle }}</p>
						</header>
						<div class="image filtered" data-position="center">
							<img src="{{ page.imageURL }}" alt="{{ page.imageAltText }}" />
						</div>
						<div class="inner">
							<h2>Flexible and Easy Payment<br> Processing Features</h2>
							<p style="max-width: 600px">Payment processing should be painless for businesses as well as the customers they serve.. You want to focus on running your business, not on the logistics of taking credit card payments. Simpler checkouts, fewer errors—these are the things that makes a payments solution shine.</p>
						</div>
						{% include services-grid.html %}
					</section>

				<!-- Section -->
					<section class="main style1" >
						<div class="inner">
							<div class="image-vertical-left">
								<img src="../images/payment.webp" alt="People exchanging a credit card">
								<div class="content">
									<h3>Credit card payment processing for any kind of commerce</h3>
									<dl>
										<dt>Connect from anywhere</dt>
										<dd>In-store, online, and on the go—you can accept payments wherever your customers are shopping.</dd>
										
										<dt>Connect to any payments</dt>
										<dd>Credit, debit, gift, and stored value cards. Plus mobile wallets and EMV chip cards.</dd>
										
										<dt>Connect through any device</dt>
										<dd>Smart terminals, wireless terminals, integrated point-of-sale (POS) systems, mobile devices and virtual terminals.</dd>
									</dl>
									
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="main style2">
						<header class="small">
							<h2>Get in touch</h2>
							<p>Elit dignissim nullam sagittis faucibus dui. Morbi vel nibh mauris. Sed convallis, odio ac posuere bibendum, odio elit bibendum magna, eu tempor diam nulla nec felis. Cras convallis tellus ac justo.</p>
						</header>
						<div class="inner special medium">
							<form netlify action="#" method="post">
								<div class="fields">
									<div class="field half">
										<input name="name" id="name" placeholder="Name" type="text" />
									</div>
									<div class="field half">
										<input name="email" id="email" placeholder="Email" type="email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" rows="8" placeholder="Message"></textarea>
									</div>
								</div>
								<ul class="actions special">
									<li><input value="Send Message" class="button next" type="submit" /></li>
								</ul>
							</form>

						</div>
						<footer>
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon solid alt fa-phone"><span class="label">Phone</span></a></li>
								<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</footer>
					</section>
					<!-- Footer -->
					{% include footer.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>